# ghostcloud-cosmos CI
# The Lifted Initiative
version: 2.1

node_version: &node_version '20.9.0'

orbs:
  node: circleci/node@5.2.0
  codecov: codecov/codecov@4.1.0

jobs:
  build_test:
    parameters:
      node_version:
        type: string
    executor:
      name: node/default
      tag: << parameters.node_version >>
    resource_class: large
    steps:
      - checkout
      - node/install-yarn
      - run:
          command: node -v && yarn -v
      - node/install-packages:
          pkg-manager: yarn
      - run:
          command: yarn build
      - run:
          command: yarn coverage
      - codecov/upload
  security:
    parameters:
      node_version:
        type: string
    executor:
      name: node/default
      tag: << parameters.node_version >>
    resource_class: medium
    steps:
      - checkout
      - node/install-yarn
      - run:
          command: node -v && yarn -v
      - node/install-packages:
          pkg-manager: yarn
      - run:
          command: yarn audit

workflows:
  ci:
    jobs:
      - build_test:
          node_version: *node_version
      - security:
          node_version: *node_version